
{{#each collection}}
<div class="row annonces-list">
 <div class="col-md-12">
   <a href="{{../config.urlRoot}}/#annonce/{{this.id}}"><img class="img-thumnail" src="data/thumbnails/cb2c87e2a870ea653f3672d74b2ee5878943bd82.jpg" alt=""></a>
    <a href="{{../config.urlRoot}}/#annonce/{{this.id}}">{{this.label}}</a>
  </div>
</div>
{{/each}}