<div id="add-image-container"></div>

<form action="#" class="form-horizontal" id="annonce-form">

  {{! Titre }}
  <div class="form-group">
      <label for="label" class="col-sm-2 control-label required">Titre</label>
      <div class="col-sm-10">
          <input type="text" maxlength="128" name="label" class="form-control" id="label" placeholder="Titre" value="{{model.label}}">
      </div>
  </div>

  {{! type de logement }}
  <div class="form-group">
    <label for="type-logement" class="col-sm-2 control-label required">Type de logement</label>
    <div class="col-sm-10">
      <select name="type_logement" id="type-logement" name="type_logement" class="form-control">
        <option value="">{{labels.general.unknown}}</option>
        {{#each typesLogements}}
            <option value="{{this}}" {{ifequalsinline ../model.type_logement this "selected"}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  
  {{! Surface }}
   <div class="form-group">
    <label for="surface" class="col-sm-2 control-label required">Surface</label>
    <div class="col-sm-10">
      <input type="number" min="0" max="100" class="form-control" id="surface" name="surface" placeholder="en m²" value="{{model.surface}}">
    </div>
  </div>
  
  {{! Nb Chambres }}
  <div class="form-group">
    <label for="nb-chambres" class="col-sm-2 control-label">Nombre de chambres</label>
    <div class="col-sm-10">
      <select name="type" id="nb-chambres" name="nb_chambres" class="form-control">
        <option value="">{{labels.general.unknown}}</option>
        {{#for 1 5}}
          <option value="{{this}}" {{ifequalsinline ../model.nb_chambres this "selected"}}>{{this}}</option>
        {{/for}}
      </select>
    </div>
  </div>
  
  {{! Description }}
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3">{{model.description}}</textarea>
    </div>
  </div>
  
  {{! Prix }}
  <div class="form-group">
    <label for="prix" class="col-sm-2 control-label">Prix</label>
    <div class="col-sm-10">
      <input type="number" min="0" max="400000" class="form-control" id="prix" name="prix" placeholder="Prix" value="{{model.prix}}">
    </div>
  </div>
  
  {{! adresse }}
  <div class="form-group">
    <label for="adresse" class="col-sm-2 control-label">Adresse</label>
    <div class="col-sm-10">
      <input maxlength="256" type="text" class="form-control" id="adresse" name="adresse" placeholder="Adresse" value="{{model.adresse}}">
    </div>
  </div>
  
  {{! etage }}
  <div class="form-group">
    <label for="etage" class="col-sm-2 control-label">Etage</label>
    <div class="col-sm-10">
      <select name="type" id="etage" name="etage" class="form-control">
        <option value="">{{labels.general.unknown}}</option>
        <option value="0">RDC / RDJ</option>
        {{#for 1 10}}
          <option value="{{this}}" {{ifequalsinline ../model.etage this "selected"}}>{{this}}</option>
        {{/for}}
      </select>
    </div>
  </div>
  
  {{! nb etages }}
  <div class="form-group">
    <label for="nb-etages" class="col-sm-2 control-label">Nombre d'étage (immmeuble)</label>
    <div class="col-sm-10">
      <select name="type" id="nb-etages" name="nb_etages" class="form-control">
        <option value="">{{labels.general.unknown}}</option>
        {{#for 1 10}}
          <option value="{{this}}" {{ifequalsinline ../model.nb_etages this "selected"}}>{{this}}</option>
        {{/for}}
      </select>
    </div>
  </div>
  
  {{! montant des charges }}
   <div class="form-group">
    <label for="montant-charges" class="col-sm-2 control-label">Montant des charges annuelles</label>
    <div class="col-sm-10">
      <input type="number" min="0" max="1000" class="form-control" id="montant-charges" name="montant_charges"
             placeholder="Charges en euros" value="{{model.montant_charges}}">
    </div>
  </div>
  
  {{! detail des charges}}
   <div class="form-group">
    <label class="col-sm-2 control-label">Détail des charges</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{ifequalsinline model.ch_entretien_commun true "active"}}">
          <input type="checkbox" autocomplete="off" id="ch-entretien-commun" {{ifequalsinline model.ch_entretien_commun true "checked"}}> Entretien commun
        </label>
        <label class="btn btn-default {{ifequalsinline model.ch_eau_froide true "active"}}">
          <input type="checkbox" autocomplete="off" id="ch-eau-froide" {{ifequalsinline model.ch_eau_froide true "checked"}}> Eau froide
        </label>
        <label class="btn btn-default {{ifequalsinline model.ch_eau_chaude true "active"}}">
          <input type="checkbox" autocomplete="off" id="ch-eau-chaude" {{ifequalsinline model.ch_eau_chaude true "checked"}}> Eau chaude
        </label>
        <label class="btn btn-default" {{ifequalsinline model.ch_chauffage true "active"}}>
          <input type="checkbox" autocomplete="off" id="ch-chauffage" {{ifequalsinline model.ch_chauffage true "checked"}}> Chauffage
        </label>
        <label class="btn btn-default {{ifequalsinline model.ch_gardien true "active"}}">
          <input type="checkbox" autocomplete="off" id="ch-gardien" {{ifequalsinline model.ch_gardien true "checked"}}> Gardien
        </label>
      </div>
    </div>
  </div>
  
  {{! Taxe d'habitation }}
   <div class="form-group">
    <label for="taxe-habitation" class="col-sm-2 control-label">Taxe d'habitation</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="taxe-habitation" name="taxe_habitation" placeholder="Montant en euros" value="{{model.taxe_habitation}}">
    </div>
  </div>
  
  {{! Taxe foncière }}
   <div class="form-group">
    <label for="taxe-fonciere" class="col-sm-2 control-label">Taxe foncière</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="taxe-fonciere" name="taxe_fonciere" placeholder="Montant en euros" value="{{model.taxe_fonciere}}">
    </div>
  </div>
  
  {{! Ascenceur}}
   <div class="form-group">
    <label class="col-sm-2 control-label">Ascenceur</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{#ifnull model.ascenceur}}active{{/ifnull}}">
          <input type="radio" name="ascenceur" autocomplete="off" value="" {{#ifnull model.ascenceur}}active{{/ifnull}}> Inconnu
        </label>
        <label class="btn btn-default {{ifequalsinline model.ascenceur true "active"}}">
          <input type="radio" name="ascenceur" autocomplete="off" value="true"  {{ifequalsinline model.ascenceur true "checked"}}> Oui
        </label>
        <label class="btn btn-default {{ifequalsinline model.ascenceur false "active"}}">
          <input type="radio" name="ascenceur" autocomplete="off" value="false" {{ifequalsinline model.ascenceur false "checked"}}> Non
        </label>
      </div>
    </div>
  </div>
  
  {{! Cave}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Cave</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{#ifnull model.cave}}active{{/ifnull}}">
          <input type="radio" autocomplete="off" name="cave" value="" {{#ifnull model.cave}}checked{{/ifnull}}> Inconnu
        </label>
        <label class="btn btn-default {{ifequalsinline model.cave true "active"}}">
          <input type="radio" autocomplete="off" name="cave" value="true" {{ifequalsinline model.cave true "checked"}}> Oui
        </label>
        <label class="btn btn-default {{ifequalsinline model.cave false "active"}}">
          <input type="radio" autocomplete="off" name="cave" value="false" {{ifequalsinline model.cave false "checked"}}> Non
        </label>
      </div>
    </div>
  </div>
  
  {{! Cuisine ouverte}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Cuisine ouverte</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{#ifnull model.cuisine_ouverte}}active{{/ifnull}}">
          <input type="radio" autocomplete="off" name="cuisine-ouverte" value="" {{#ifnull model.cuisine_ouverte}}checked{{/ifnull}}> Inconnu
        </label>
        <label class="btn btn-default {{ifequalsinline model.cuisine_ouverte true "active"}}">
          <input type="radio" autocomplete="off" name="cuisine-ouverte" value="true" {{ifequalsinline model.cuisine_ouverte true "checked"}}> Oui
        </label>
        <label class="btn btn-default disabled">
          <input type="radio" autocomplete="off"  name="cuisine-ouverte" value="MAYBE" disabled> Possible
        </label>
        <label class="btn btn-default {{ifequalsinline model.cuisine_ouverte false "active"}}">
          <input type="radio" autocomplete="off" name="cuisine-ouverte" value="false" {{ifequalsinline model.cuisine_ouverte false "checked"}}> Non
        </label>
      </div>
    </div>
  </div>
  
  {{! Stationnement}}
  <div class="form-group">
    <label class="col-sm-2 control-label">Stationnement</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{#ifnull model.stationnement}}active{{/ifnull}}">
          <input type="radio" autocomplete="off" name="stationnement" value="" {{#ifnull model.stationnement}}active{{/ifnull}}> Inconnu
        </label>
        <label class="btn btn-default {{ifequalsinline model.stationnement true "active"}}">
          <input type="radio" autocomplete="off" name="stationnement" value="true" {{ifequalsinline model.stationnement true "checked"}}> Oui
        </label>
        <label class="btn btn-default {{ifequalsinline model.stationnement false "active"}}">
          <input type="radio" autocomplete="off" name="stationnement" value="false" {{ifequalsinline model.stationnement false "checked"}}> Non
        </label>
      </div>
    </div>
  </div>
  
  {{! Type de stationnement }}
  <div class="form-group">
    <label class="col-sm-2 control-label">Type de stationnement</label>
    <div class="col-sm-10">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default {{ifequalsinline model.type_stationnement "SPOT_OUT" "active"}}">
          <input type="radio" autocomplete="off" name="type-stationnement" value="SPOT_OUT" {{ifequalsinline model.type_stationnement "SPOT_OUT" "active"}}> Place en extérieur
        </label>
        <label class="btn btn-default {{ifequalsinline model.type_stationnement "SPOT_IN" "active"}}">
          <input type="radio" autocomplete="off" name="type-stationnement" value="SPOT_IN" {{ifequalsinline model.type_stationnement "SPOT_IN" "active"}}> Place en s-s
        </label>
        <label class="btn btn-default {{ifequalsinline model.type_stationnement "BOX_OUT" "active"}}">
          <input type="radio" autocomplete="off" name="type-stationnement" value="BOX_OUT" {{ifequalsinline model.type_stationnement "BOX_OUT" "active"}}> Box en s-s
        </label>
        <label class="btn btn-default {{ifequalsinline model.type_stationnement "BOX_IN" "active"}}">
          <input type="radio" autocomplete="off"  name="type-stationnement" value="BOX_IN" {{ifequalsinline model.type_stationnement "BOX_IN" "active"}}> Box en extérieur
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </div>
  
</form>