<div class="annonce-detail">
  {{#if model.photos}}
    <div class="jumbotron">
      <div class="container">
        <div class="pics-container">
          {{#each model.photos}}
            <a href="data/pics/{{this.id}}.{{this.extension}}" data-title="{{this.nom}}" data-lightbox="roadtrip">
              <img src="data/thumbnails/{{this.id}}.{{this.extension}}"/>
            </a>
          {{/each}}
        </div>
      </div>
      <div class="text-center pics-nb">
        {{model.photos.length}}
        {{ifequalsinline model.photos.length 1 "photo disponible" "photos disponibles"}}
      </div>
    </div>
  {{/if}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{model.label}}</div>
    </div>
    <div class="list-group">
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Type de logement</dt>
          <dd>{{model.type_logement}}</dd>

          <dt>Surface</dt>
          <dd>{{model.surface}} m²</dd>

          <dt>Nombre de chambres</dt>
          <dd>{{ifinline model.nb_chambres model.nb_chambres labels.general.blankValue}}</dd>

          <dt>Description</dt>
          <dd class="text-justify">
            {{#if model.description}}
              {{breaklines model.description}}
            {{else}}
              {{labels.general.blankValue}}
            {{/if}}
          </dd>

          <dt>Prix</dt>
          <dd>{{ifinline model.prix model.prix labels.general.blankValue}} €</dd>

          <dt>Adresse</dt>
          <dd>{{ifinline model.adresse model.adresse labels.general.blankValue}}</dd>

          <dt>Etage</dt>
          <dd>
            {{ifinline model.etage model.etage labels.general.blankValue}}
            {{#if model.nb_etages}}/{{model.nb_etages}}{{/if}}
          </dd>

          <dt>Charges annuelles</dt>
          <dd>
            {{#if model.montant_charges}}
              {{model.montant_charges}} €
            {{else}}
              {{labels.general.blankValue}}
            {{/if}}
          </dd>

          <dt>Charges</dt>
          <dd>
            <ul>
              {{{ifinline model.ch_entretien_commun "<li>Entretien commun</li>" }}}
              {{{ifinline model.ch_eau_froide "<li>Eau froide</li>" }}}
              {{{ifinline model.ch_eau_chaude "<li>Eau chaude</li>" }}}
              {{{ifinline model.ch_chauffage "<li>Chauffage</li>" }}}
              {{{ifinline model.ch_gardien "<li>Gardien</li>" }}}
            </ul>
          </dd>

          <dt>{{labels.annonce.taxeHabitation}}</dt>
          <dd>
            {{#if model.taxe_habitation}}
              {{model.taxe_habitation}} €
            {{else}}
              {{labels.general.blankValue}}
            {{/if}}
          </dd>

          <dt>{{labels.annonce.taxeFonciere}}</dt>
          <dd>
            {{#if model.taxe_fonciere}}
              {{model.taxe_fonciere}} €
            {{else}}
              {{labels.general.blankValue}}
            {{/if}}
          </dd>

          <dt>{{labels.annonce.elevator}}</dt>
          <dd>
            {{#ifequals model.ascenceur false}}
              {{labels.general.no}}
            {{else}}
              {{#ifequals model.ascenceur true}}
                {{labels.general.yes}}
              {{else}}
                {{labels.general.blankValue}}
              {{/ifequals}}
            {{/ifequals}}
          </dd>

          <dt>{{labels.annonce.cave}}</dt>
          <dd>
            {{#ifequals model.cave false}}
              {{labels.general.no}}
            {{else}}
              {{#ifequals model.cave true}}
                {{labels.general.yes}}
              {{else}}
                {{labels.general.blankValue}}
              {{/ifequals}}
            {{/ifequals}}
          </dd>

          <dt>{{labels.annonce.openKitchen}}</dt>
          <dd>
            {{#ifequals model.cuisine_ouverte false}}
              {{labels.general.no}}
            {{else}}
              {{#ifequals model.cuisine_ouverte true}}
                {{labels.general.yes}}
              {{else}}
                {{labels.general.blankValue}}
              {{/ifequals}}
            {{/ifequals}}
          </dd>

          <dt>{{labels.annonce.stationnement}}</dt>
          <dd>
            {{#ifequals model.type_stationnement false}}
              {{labels.general.no}}
            {{else}}
              {{#ifequals model.type_stationnement true}}
                {{labels.general.yes}}
              {{else}}
                {{labels.general.blankValue}}
              {{/ifequals}}
            {{/ifequals}}
          </dd>

          <dt>{{labels.annonce.typeStationnement.label}}</dt>
          <dd>
            {{ifinline typeStationnementLabel typeStationnementLabel labels.general.blankValue}}
          </dd>

        </dl>
      </div>
    </div>
  </div>

  <div class="panel panel-info comments">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#comment-list-group"> <!--class="collapsed"-->
          Commentaires <span class="badge">5</span>
        </a>
      </h4>
    </div>
    <!--<h3>Commentaires</h3>-->
    <div class="list-group panel-collapse collapse in" id="comment-list-group">
      <div class="panel-body">
        <div class="list-group-item">
          <div class="media-body">Ceci est un premier commentaire.</div>
          <div class="comment-date">Ajouté le 01/02/2015 à 16h35</div>
        </div>
        <div class="list-group-item">
          <div class="media-body">Ceci est un premier commentaire. et un deuxieme</div>
          <div class="comment-date">Ajouté le 01/02/2015 à 16h35</div>
        </div>
        <div class="list-group-item">
          <div class="media-body">Ceci est un premier commentaire. et un deuxieme et un troisieme</div>
          <div class="comment-date">Ajouté le 01/02/2015 à 16h35</div>
        </div>
        <div class="list-group-item">
          <div class="media-body">Ceci est un premier commentaire. et un deuxieme et un troisieme et un
            quatrième
          </div>
          <div class="comment-date">Ajouté le 01/02/2015 à 16h35</div>
        </div>
        <input type="button" class="btn btn-primary" value="Ajouter un commentaire"/>
      </div>
    </div>
  </div>
</div>
